/******************************************************************
Site Name:
Author:

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/



// alerts and notices
%alert {
  margin: 1rem;
  padding: 1rem;
}

.alert-help {
  @extend %alert;
  background: $alert-yellow;
}

.alert-info {
  @extend %alert;
  background: $alert-blue;
}

.alert-error {
  @extend %alert;
  background: $alert-red;
}

.alert-success {
  @extend %alert;
  background: $alert-green;
}
